.products {
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popusti {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 100%;

  gap: 50px;
  margin-left: 40px;
  .product-card {
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &:hover {
      transform: scale(1.05);
    }

    img {
      width: 150px;
      aspect-ratio: 1/1.2;
    }

    .timer {
      color: lightgray;
    }

    .price {
      width: 100%;
      border-bottom: 1px solid lightgray;
      border-top: 1px solid lightgray;
      padding: 10px 0;
      margin-top: 10px;
      margin-bottom: 10px;

    }

    .old-price {
      text-decoration: line-through;
      font-size: 17px;
      color: gray;
      margin-right: 10px;


    }

    .new-price {
      font-weight: bold;
      font-size: 18px;
      color: #01AEEE;
    }

    h5 {
      margin: 5px 0;
      font-weight: bold;
      font-size: 18px;
    }
  }

  .product-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 40px;
    flex-wrap: wrap;
    margin: 0 20px;
  }

  .badge {
    position: absolute;
    top: 5px;
    right: -2px;
    background-color: #E59D01;
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding: 10px 5px;
    border-radius: 50%;
    z-index: 10;

    &:after {
      content: '';
      position: absolute;
      left: 2px;
      top: 52%;
      width: 0;
      height: 0;
      border: 8px solid transparent;
      border-right-color: #E59D01;
      border-left: 0;
      border-bottom: 0;
      margin-top: -5px;
      margin-left: -8px;
    }
  }

  .product-img {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  button{

    padding: 10px 5%;
    background-color: transparent;
    font-weight: bold;
    font-size: 16px;
    border: 3px solid #01AEEE;
    text-transform: uppercase;
    color: #015575;
    &:hover{
      transform: scale(1.05);
    }
  }
}
.trapez-div{
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;

  a{
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    width: calc(100% - 0px);
    margin: 20px 0px 20px 40px;
    cursor: pointer;

  &:hover{
    transform: scale(1.05);
  }
  }
  .trapez{
    position: relative;
    border-bottom: 40px solid #01AEEE;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    height: 0;
    width:100%;
    transform: rotate(180deg);
    p{
      white-space: nowrap;
      font-size: 18px;
      padding: 0;
      margin: 0;
      position: absolute; /* Omogućava precizno centriranje */
      top: 50%; /* Pomera na 50% visine trapeza */
      left: 50%; /* Pomera na 50% širine trapeza */
      transform: translate(-50%, 50%) rotate(180deg);
      color: #ffffff;
      text-transform: uppercase;

      @media screen and (max-width: 500px){
        font-size: 10px;
        transform: translate(-50%, 100%) rotate(180deg);

      }

    }

}}


.trapez____darkblue{
  border-bottom: 40px solid #015575 !important;

}
.trapez____yellow{
  border-bottom: 40px solid #E59D01 !important;

}
.button__yellow{
  border: 3px solid #E59D01 !important;

}
.slide-show{
  position: relative;
  width: 100%;
  padding: 0 40px;
  margin-top: 3px;
  img{
    width: 100%;
    height: 400px;
  }
  .image-overlay{
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;

  }
  .slide{
    justify-content: center;
    align-items: center;
    display: flex;
  }
}





