.bottom-container {
  width: 100%;


  &__footer {
    width: 74%;
    padding: 0 13% 0 13%;
    background-color: #0BA2D6;

    display: flex;
    justify-content: space-between;
    align-items: stretch;

    &__content {
      width: 20%;
      border-right: 2px solid #009AD4;
      padding: 20px;

      &:first-child {
        border-left: 2px solid #009AD4;
      }

    }


    &__title {

      padding: 0;
      margin: 0;
      color: #fff;
      font-size: 1.5rem;
      padding-bottom: 20px;
      padding-top: 10px;
    }

    &__text {
      margin: 0;
      padding: 0;
      color: rgba(255, 255, 255, 0.6);
      padding-bottom: 5px;

    }
  }

  &__copyright {
    width: 74%;
    padding: 10px 13% 10px 13%;
    background-color: #005474;

    &__text{
      margin: 0;
      color: #fff;
    }
  }
}