

.page-navigation{
  width: 74%;
  padding: 10px 13%;

  &__text{
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color: #666666;
    margin-right: 5px;
    &:last-child{
      color:#0BA2D6;
    }
  }
}

.main-container-product{
  width: 74%;
  display: flex;
  justify-content: center;
  margin: 0 13% 0 13%;

  .left{
    width: 75%;
    height: 100%;


    &__product{
      display: flex;


      &__slider{
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .bx-wrapper {
          width: 90%;
          border: 1px solid #CCCCCC;
          padding: 10px;
          box-shadow: none !important;
          background: none !important;
          justify-content: center;
          align-items: center;
          padding: 35% 0;

        }


        &--thumbnail{
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
        }
        &--link{

          display: inline-block;
          width: 20%;
          height: auto;
          border: 1px solid #CCCCCC;
          padding: 5px;
          &.active{
            border: 2px solid red;

          }
        }
        &--img{
          width: 100%;
          height: auto;
          cursor: pointer;
        }

        &--pager{
          margin-top: 10px;
          display: flex;
          justify-content: space-around;
          max-width: 300px;
        }

        &--controls{
          border: none;
          font-size: 20px;


          &:hover{
            color: red;

          }
        }
      }

    }

    &__description{

      padding-left: 5%;

      &__title{
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        &--text{
          white-space: wrap;
          word-break: break-word;
          margin-top: 0;
        }
      }
      &__sub-div{
        padding: 0 20px 0 0;
        border-right: 1px solid #666666;

      }

      &__sub-title{
        display: flex;
        &--text{
          font-size: 30px;
          color:#0BA2D6;
          padding-left: 20px;

        }
        &--price{
          font-size:50px;
          font-weight:bold;
          padding-left: 0;
          color:#0BA2D6;



        }
        &--code{
          margin: 0;
          padding-left: 23px;
        }





      }

      &__info{
        &--text{
          margin: 10px 0;
          color: rgba(0,0,0,0.4);
          &:first-of-type{
            color: black;
            margin: 20px 0;
          }
        }
      }


      &__social{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        &--input{
          width: 70px !important;
          text-align: center;
          border: 1px solid #ccc;
          padding: 5px;
          font-size: 14px;
          margin-right: 0px !important;
          background-color: #f9f9f9;
        }
        &--button{
          border: 1px solid #ccc;
          background-color: #f9f9f9;
          padding: 5px;
          cursor: pointer;
          font-size: 14px;
        }
        &--plus{
          margin-left: 30px;
          margin-right: 15px;
          background-color: red;
          color: white;
          padding: 4px 10px 4px 10px;
          font-size: 20px;

        }

        &--text{
          margin-right: 15px;
        }

        &--icon{
          height: 15px;
          width: 15px;
          padding: 10px;
          text-align: center;
        }
        &--link{
          margin:5px;
          text-decoration: none;
          &:last-child{
            margin-right: 0;
          }
          .fa-facebook-f{
            color: white;
            background-color: #3b5998;
          }
          .fa-twitter{
            color: white;
            background-color: #55acee;
          }
          .fa-envelope{
            color: white;
            background-color: #666666;
          }
          .fa-google-plus-g{
            color: white;
            background-color: #dd4b39;
          }
        }
      }

      &__button{

          padding: 10px 20px;
          background-color: #CCCCCC;
          border-radius: 40px;
          color: white;
          border: none;
          &--icon{
            margin-right: 10px;
          }
          &:first-of-type{
            background-color: #0BA2D6;
          }

      }
    }



    &__similar {
      margin: 20px 0 ;
      display: flex;
      flex-direction: row;
      align-items: center;


      width: 100%;
      font-size: 20px;

      &__text{
        white-space: nowrap;
        text-transform: uppercase;
        font-weight: bold;
      }
      &__line{
        height: 1px;
        width: 100%;
        margin: 0 10px;
        background-color: #ddd;
      }
    }

  }




  .table {
    margin-top: 30px;
    padding:0 10px;

    .checked{
      color: #0BA2D6;
    }

    &__tabs {
      display: flex;
      border-bottom: 1px solid #ccc;
      flex-wrap: wrap;

      &__button {
        padding: 12px;
        text-align: center;
        cursor: pointer;
        font-weight: bold;
        background: #333;
        color: white;
        border: none;
        transition: background 0.3s;
        border-right:1px solid white;



      }

      .active {
        background: #3498db;
      }
    }


    &__content.active {
      display: block;
    }


    &__content {
      display: none;
      border: 1px solid #ccc;
      padding: 0 10px;
      &--button{
        background-color: #0BA2D6;
        border: none;
        padding: 5px;
        margin: 10px 5px;


      }
      &--link{
        text-decoration: none;
        color: white;
        padding: 20px;

      }
      &--container{
        display: flex;
        flex-direction: column;
      }
      &--input{
        width: 80%;
        max-width: 300px;
        margin: 10px 0;
        padding: 10px;

      }
      &--textarea{
        width: 80%;
        max-width: 500px;
        height: 130px;
        resize: none;
        padding: 5px;
        margin-bottom: 10px;
      }

      &__info{
        display: flex;



      &--left,&--right{
        padding: 20px;
        width: 50%;

          color: rgba(0,0,0,0.6);

      }
      }
    }








  }





















  .right{
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 40px;

    &__newsletter-product {
      display: block !important;

    }

    &__video{
      max-width: 500px;
    }
  }
}

























