



@media (max-width: 1230px) {

  .trapez-div {
  }




  .bx-wrapper {
    width: 80%;
    margin: 0 20px !important;
    padding: 0 !important;
  }



  .navbar {
    &__gray-navbar {
      display: none;
    }

    &__header {
      padding: 10px 0 !important;

      &__header-left {
        justify-content: center;
        margin-bottom: 20px;
      }

      &__header-right {
        width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 2px;

        &__search {
          width: 80% !important;
          flex-wrap: nowrap;
          max-width: 300px;


          input {
            min-width: 200px;

          }
        }

        &__buy {
          width: 80% !important;
          justify-content: center;
          align-items: center;
          padding: 5px 0 !important;
          gap: 10px !important;
        }
      }

      &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;


        span {
          font-size: 20px;
        }
      }
    }


    &__burger-menu {
      display: block !important;
    }

    &__small-nav {
      &__select-menu {
        display: none !important;
        flex-direction: column;
        position: absolute;
        top: 175px;
        left: 0;
        width: 100% !important;
        background-color: #00ADF0;
        z-index: 99999;


        a {
          display: block;
          text-align: center !important;
          padding: 15px 0 !important;
          border: none;
          border-bottom: 1px solid #009AD9;
          width: 100%;

        }
      }

      &__select-menu.active {
        display: flex !important;
      }
    }

    &__trapezoid-left, &__trapezoid-right {
      display: none !important;
    }
  }

  .main-container {
    margin: 0 !important;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .ads-div {
      width: 100%;

      &__menu {
        margin: 0 !important;

        button {
          &:first-child {
            &:hover {
              transform: none !important;
              border: none !important;

              img {
                transform: scale(1.20) !important;
              }

              p {
                margin-left: 10px !important;
                transform: scale(1.05) !important;
              }
            }
          }
        }
      }

      &__ad {
        display: none;
      }


      &__makita-post, &__search-brand, &__newsletter {
        display: none;
      }
    }

    .products {
      width: 100% !important;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &__slide-show {
        padding: 0 !important;
        &__progress-container {
          margin: 0 20px !important;
        }

        &__custom-pager {
          right: 60px !important;
        }
        &__image-overlay {
          &__block {
            left: 10px !important;
            top: 10px !important;
            bottom: 55% !important;
            height: auto !important;
            width: auto !important;
            min-width: auto !important;
            padding: 20px 10px !important;

            span {
              font-size: 20px !important;
              margin-bottom: 10px;

              &:first-of-type {
                font-weight: normal;
              }
            }

            button {
              padding: 5px 15px !important;
            }
          }
        }
      }
      &__trapez-div {
        a {
          margin: 20px 0 !important;
          font-size: 10px;

        }
      }
      &__popusti {
        button {
          padding: 10px 5px !important;
        }

        &__product-bar {
          &__product-card {
            min-width: 100px;

            img {
              width: 100px !important;
              aspect-ratio: 1/1.2;
            }
          }
        }

      }

      &__makita-post-two, &__search-brand-two, &__newsletter-two {
        display: block;
        margin-top: 10px;

      }
    }

  }








  .slider-two {
    width: 100% !important;
    padding: 0 !important;

    .bx-wrapper {
      width: 80% !important;
      margin: 0 10% !important;
    }
  }

  .magnify {
    display: none !important;
  }


  .footer {
    width: 90% !important;
    padding: 0 5% !important;
  }
  .footer-content {
    width: 80% !important;
    padding-left: 50px !important;
    border: none !important;


  }
  .copyright {
    width: 90% !important;
    padding: 10px 5% !important;
  }

  .bx-prev, .bx-next {
    display: none !important;
  }


  .footer {
    width: 100% !important;
    padding: 0 !important;
    display: flex;
    flex-direction: column;

    .footer-content {
    }
  }


  .newsletter-product {
    display: block !important;

    button {
      max-width: 200px;
    }
  }




















    .right-side {
      width: 100% !important;
      margin: 10px !important;
      padding: 0 !important;
      justify-content: center;
      align-items: center;
    }






.main-container-product {
  margin: 0 !important;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .left-side {
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;



    .product-information{
      flex-direction: column;





      .slider-container {
        width: 90% !important;
        padding: 10px 5% !important;

        .bx-wrapper {
          min-width: 250px;
        }

        #bx-pager a {
          min-width: 50px;
        }
      }




      .product-description {
        width: 90% !important;
        padding: 0 5% !important;
        margin-top: 20px;


        h1 {
          font-size: 30px !important;
        }

        .price {
          font-size: 40px !important;
        }
      }




    }


    .left-side-infos {
      border-right: 1px solid #ccc;
    }

  }




}



















}