/* sass:scss */
body {
  margin: 0;
}

.navbar__gray {
  display: flex;
  padding: 0 13%;
  background-color: #CCCCCC;
}
.navbar__gray__left {
  width: 80%;
  display: flex;
  gap: 2rem;
}
.navbar__gray__text {
  padding: 0;
  margin: 0;
}
.navbar__gray__right {
  width: 30%;
  display: flex;
  gap: 2rem;
  justify-content: flex-end;
  align-items: flex-end;
}
.navbar__header {
  display: flex;
  padding: 10px 13% 10px 13%;
  background-color: #015575;
}
.navbar__header__container {
  display: flex;
  width: 100%;
  height: 80px;
}
.navbar__header__left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 42%;
  font-size: 40px;
  font-stretch: ultra-expanded;
}
.navbar__header__left--logo {
  flex-wrap: nowrap;
  white-space: nowrap;
}
.navbar__header__left--text {
  display: inline-block;
  transform: scale(1, 1.5);
  color: #fff;
  font-weight: bold;
}
.navbar__header__left--text:first-child {
  color: #0BA2D6;
}
.navbar__header__right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 58%;
}
.navbar__header__right--search {
  width: 70%;
  flex-wrap: nowrap;
}
.navbar__header__right--search .magnify {
  margin-left: -50px;
  color: #0BA2D6;
}
.navbar__header__right--input {
  width: 90%;
  margin-right: 1px;
  border: none;
  padding: 15px;
}
.navbar__header__right--link {
  font-size: 18px;
  color: #333;
  text-decoration: none;
  border: 3px solid #0BA2D6;
  border-radius: 50%;
  padding: 1px;
  transition: 0.3s;
}
.navbar__header__right--text {
  margin: 0 3px 0 0;
  padding: 0;
  color: #fff;
  font-weight: bold;
}
.navbar__header__right--icon {
  padding: 3px;
  width: 25px;
  height: 25px;
  align-content: center;
  text-align: center;
  color: #fff;
}
.navbar__header__right__buy {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.navbar__header__right__buy .facebook-mod {
  padding: 3px;
  width: 25px;
  height: 25px;
  align-content: center;
  text-align: center;
  color: #fff;
}
.navbar__header__right__buy .moja-korpa {
  margin-left: 5px;
  margin-right: 3px;
  color: #0BA2D6;
  border: 0;
  font-size: 14px;
}
.navbar__small {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 0 0;
}
.navbar__small__select {
  width: 74%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #00ADF0;
  height: 50px;
}
.navbar__small__select--button {
  display: flex;
  background-color: #00ADF0;
  flex-grow: 1;
  text-align: center;
  padding: 18px 13px 13px 13px;
  cursor: pointer;
  border-left: 1px #009AD9 solid;
  border-right: 1px #009AD9 solid;
  text-decoration: none;
  white-space: nowrap;
  justify-content: center;
  color: #fff;
  flex-direction: column;
}
.navbar__small__select--button:hover, .navbar__small__select--button.active {
  border-top: 2px solid white;
}
.navbar__small__select--button:last-child {
  padding: 3px 13px 12px 13px;
  text-align: start;
  cursor: auto;
}
.navbar__small__select--button:last-child:hover, .navbar__small__select--button:last-child.active {
  border-top: none;
  transform: none;
}
.navbar__small__select--text {
  padding: 0;
  margin: 0;
  font-size: 14px;
}
.navbar__small__select--text:first-child {
  color: rgba(0, 0, 0, 0.5);
}
.navbar__small__select--icon {
  color: #fff;
}
.navbar__trapezoid-right {
  border-bottom: 50px solid #00ADF0;
  border-left: 20px solid transparent;
  border-right: 0px solid transparent;
  height: 0;
  width: 40px;
  transform: rotate(180deg);
}
.navbar__trapezoid-left {
  border-bottom: 50px solid #00ADF0;
  border-left: 0px solid transparent;
  border-right: 20px solid transparent;
  height: 0;
  width: 40px;
  transform: rotate(180deg);
}
.navbar__burger-menu {
  display: none;
  font-size: 24px;
  color: white;
  cursor: pointer;
}
.navbar__burger-menu--icon {
  padding: 0;
}

.main-container {
  width: 74%;
  display: flex;
  justify-content: center;
  margin: 0 13% 0 13%;
}

.side-bar {
  width: 25%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.side-bar__menu {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.side-bar__menu__text {
  padding: 0;
  margin: 0;
  text-transform: uppercase;
}
.side-bar__menu__text--case {
  text-transform: none;
}
.side-bar__menu__button {
  display: flex;
  cursor: pointer;
  padding: 15px 4%;
  border: none;
  background-color: #F4F4F4;
  border-bottom: 1px solid #E1E1E1;
  justify-content: space-between;
  font-size: 15px;
  font-weight: bold;
}
.side-bar__menu__button:hover {
  transform: scale(1.05);
  transition: 0.5s;
  border: 1px solid #E1E1E1;
}
.side-bar__menu__button--img {
  margin: 0 7px;
  height: 18px;
  width: 18px;
}
.side-bar__menu__button:first-child {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  background-color: #005474;
  color: white;
}
.side-bar__menu__button--subcategory {
  background-color: rgb(236.35, 236.35, 236.35) !important;
  padding-left: 15% !important;
  font-weight: normal !important;
  font-size: 14px !important;
  margin: 0 3px !important;
}
.side-bar__ad {
  width: 100%;
  position: relative;
  display: inline-block;
}
.side-bar__ad__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-99%, 30%);
  color: white;
  font-size: 50px;
  white-space: nowrap;
  font-weight: bold;
}
.side-bar__ad__text:first-of-type {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 50px;
  white-space: nowrap;
  font-style: italic;
}
.side-bar__ad__img {
  width: 100%;
  height: auto;
}
.side-bar__button-blue {
  width: 50%;
  height: 30px;
  border: none;
  background-color: #00A9EA;
  color: white;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  padding: 0 10px;
  min-width: 70px;
  word-wrap: break-word;
  cursor: pointer;
  max-width: 200px;
}
.side-bar__button-blue:hover {
  transform: scale(1.05);
}
.side-bar__search-brand {
  width: 80%;
  padding: 15px 10%;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  color: white;
  background-color: #005474;
}
.side-bar__search-brand__input {
  width: 100%;
  border: none;
  height: 30px;
  margin-top: 10px;
}
.side-bar__search-brand i.magnify {
  margin-left: -30px;
  color: #0BA2D6;
}
.side-bar__newsletter {
  width: 80%;
  padding: 15px 10%;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  color: white !important;
  background-color: #005474;
}
.side-bar__newsletter__input {
  width: 100%;
  border: none;
  margin-bottom: 10px;
  background-color: transparent;
  border-bottom: 2px solid #00A9EA;
  padding: 10px 0;
  color: white !important;
}
.side-bar__newsletter__input::placeholder {
  color: white;
}
.side-bar__makita-post {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.side-bar__makita-post__img {
  width: 200px;
  height: 200px;
}
.side-bar__makita-post__title {
  font-size: 20px;
  margin: 0;
}
.side-bar__makita-post__img-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.deactivate-button {
  display: none !important;
}

.products {
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.products__slide-show {
  position: relative;
  width: 100%;
  padding: 0 40px;
  margin-top: 3px;
}
.products__slide-show__custom-pager {
  position: absolute;
  bottom: 3%;
  right: 40px;
  z-index: 9999;
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: right;
  flex-wrap: wrap;
}
.products__slide-show__img {
  width: 100%;
  height: 400px;
}
.products__slide-show__image-overlay {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}
.products__slide-show__block {
  width: 20%;
  height: 60%;
  position: absolute;
  bottom: 60px;
  left: 40px;
  background-color: #F4F4F4;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 160px;
  padding: 0 20px;
}
.products__slide-show__block__title {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 20px;
}
.products__slide-show__block__title:first-of-type {
  font-weight: normal;
}
.products__slide-show__block__button {
  font-weight: bold;
  padding: 15px 25px;
  background-color: #0BA2D6;
  border: none;
  color: #fff;
  text-transform: uppercase;
  margin-top: 20px;
}
.products__slide-show__slide {
  justify-content: center;
  align-items: center;
  display: flex;
}
.products__slide-show__progress-container {
  position: relative;
  margin-left: 40px;
  width: calc(100% - 40px);
  height: 5px;
}
.products__slide-show__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: gray;
}
.products__slide-show__bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #0BA2D6;
}
.products__discounts {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 50px;
  margin-left: 0;
}
.products__discounts .product-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 40px;
  flex-wrap: wrap;
}
.products__discounts .product-bar__card {
  max-width: 300px;
  text-align: center;
  font-family: arial;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.products__discounts .product-bar__card:hover {
  transform: scale(1.05);
}
.products__discounts .product-bar__card__timer {
  color: lightgray;
}
.products__discounts .product-bar__card__price {
  width: 100%;
  border-bottom: 1px solid lightgray;
  border-top: 1px solid lightgray;
  padding: 10px 0;
  margin-top: 10px;
  margin-bottom: 10px;
}
.products__discounts .product-bar__card__price__old {
  text-decoration: line-through;
  font-size: 17px;
  color: gray;
  margin-right: 10px;
}
.products__discounts .product-bar__card__price__new {
  font-weight: bold;
  font-size: 18px;
  color: #01AEEE;
}
.products__discounts .product-bar__card__product-name {
  margin: 5px 0;
  font-weight: bold;
  font-size: 18px;
}
.products__discounts .product-bar__card__img {
  width: 150px;
  aspect-ratio: 1/1.2;
}
.products__discounts .product-bar__card__badge {
  position: absolute;
  top: 5px;
  right: -2px;
  background-color: #E59D01;
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding: 10px 5px;
  border-radius: 50%;
  z-index: 1000000;
}
.products__discounts .product-bar__card__badge:after {
  content: "";
  position: absolute;
  left: 2px;
  top: 52%;
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-right-color: #E59D01;
  border-left: 0;
  border-bottom: 0;
  margin-top: -5px;
  margin-left: -8px;
}
.products__discounts .product-bar__card__img-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.products__discounts__button {
  padding: 10px 5%;
  background-color: transparent;
  font-weight: bold;
  font-size: 16px;
  border: 3px solid #01AEEE;
  text-transform: uppercase;
  color: #015575;
  cursor: pointer;
}
.products__discounts__button:hover {
  transform: scale(1.05);
}
.products__discounts__button--yellow {
  border: 3px solid #E59D01;
}
.products__shape {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 0 auto;
}
.products__shape__trapez {
  border-bottom: 40px solid #01AEEE;
  position: relative;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  height: 0;
  width: 100%;
  transform: rotate(180deg);
  margin: 20px 0px 20px 40px;
}
.products__shape__trapez--dark {
  border-bottom: 40px solid #015575 !important;
}
.products__shape__trapez--yellow {
  border-bottom: 40px solid #E59D01 !important;
}
.products__shape__text {
  white-space: nowrap;
  font-size: 18px;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%) rotate(180deg);
  color: white;
  text-transform: uppercase;
}
.products__search-brand {
  width: 80%;
  padding: 15px 10%;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  color: white;
  background-color: #005474;
}
.products__search-brand__input {
  width: 100%;
  border: none;
  height: 30px;
  margin-top: 10px;
}
.products__search-brand i.magnify {
  margin-left: -30px;
  color: #0BA2D6;
}
.products__newsletter {
  width: 80%;
  padding: 15px 10%;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  color: white !important;
  background-color: #005474;
  white-space: wrap;
}
.products__newsletter__input {
  width: 100%;
  border: none;
  margin-bottom: 10px;
  background-color: transparent;
  border-bottom: 2px solid #00A9EA;
  padding: 10px 0;
  color: white !important;
}
.products__newsletter__input::placeholder {
  color: white;
}
.products__makita-post {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  width: 80%;
  padding: 50px 10%;
}
.products__makita-post__img {
  width: 200px;
  height: 200px;
}
.products__makita-post__title {
  font-size: 20px;
  margin: 0;
}
.products__makita-post__img-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.products__search-brand, .products__newsletter, .products__makita-post {
  display: none;
}

.products__slide-show .bx-wrapper {
  position: relative;
  margin-bottom: 2px;
  padding: 0;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  background: #fff;
  min-width: 100px;
  width: calc(100% - 40px);
  padding-left: 40px;
}
.products__slide-show .bx-wrapper img {
  max-width: 100%;
  display: block;
  justify-content: center;
  align-items: center;
}
.products__slide-show .bxslider {
  margin: 0;
  padding: 0;
}
.products__slide-show ul.bxslider {
  list-style: none;
}
.products__slide-show .bx-viewport {
  -webkit-transform: translateZ(0);
}
.products__slide-show .bx-wrapper .bx-controls-auto, .products__slide-show .bx-wrapper .bx-pager {
  position: absolute;
  bottom: 30px;
  right: 20px;
  width: 100%;
}
.products__slide-show .bx-wrapper .bx-loading {
  min-height: 50px;
  background: url(src/assets/bx_loader.gif) center center no-repeat #fff;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}
.products__slide-show .bx-wrapper .bx-pager {
  text-align: right;
  font-size: 0.85em;
  font-family: Arial;
  font-weight: 700;
  color: red;
  padding-top: 20px;
}
.products__slide-show .bx-wrapper .bx-pager.bx-default-pager a {
  background: #666;
  text-indent: -9999px;
  display: block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  outline: 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.products__slide-show .bx-wrapper .bx-pager.bx-default-pager a.active, .products__slide-show .bx-wrapper .bx-pager.bx-default-pager a:focus, .products__slide-show .bx-wrapper .bx-pager.bx-default-pager a:hover {
  background: #000;
}
.products__slide-show .bx-wrapper .bx-controls-auto .bx-controls-auto-item, .products__slide-show .bx-wrapper .bx-pager-item {
  display: inline-block;
  vertical-align: bottom;
}
.products__slide-show .bx-wrapper .bx-pager-item {
  font-size: 0;
  line-height: 0;
}
.products__slide-show .bx-wrapper .bx-prev {
  left: 10px;
  background: url(src/assets/controls.png) 0 -32px no-repeat;
}
.products__slide-show .bx-wrapper .bx-prev:focus, .products__slide-show .bx-wrapper .bx-prev:hover {
  background-position: 0 0;
}
.products__slide-show .bx-wrapper .bx-next {
  right: 10px;
  background: url(src/assets/controls.png) -43px -32px no-repeat;
}
.products__slide-show .bx-wrapper .bx-next:focus, .products__slide-show .bx-wrapper .bx-next:hover {
  background-position: -43px 0;
}
.products__slide-show .bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  outline: 0;
  width: 32px;
  height: 32px;
  text-indent: -9999px;
  z-index: 2000;
}
.products__slide-show .bx-wrapper .bx-controls-direction a.disabled {
  display: none;
}
.products__slide-show .bx-wrapper .bx-controls-auto {
  text-align: center;
}
.products__slide-show .bx-wrapper .bx-controls-auto .bx-start {
  display: block;
  text-indent: -9999px;
  width: 10px;
  height: 11px;
  outline: 0;
  background: url(src/assets/controls.png) -86px -11px no-repeat;
  margin: 0 3px;
}
.products__slide-show .bx-wrapper .bx-controls-auto .bx-start.active, .products__slide-show .bx-wrapper .bx-controls-auto .bx-start:focus, .products__slide-show .bx-wrapper .bx-controls-auto .bx-start:hover {
  background-position: -86px 0;
}
.products__slide-show .bx-wrapper .bx-controls-auto .bx-stop {
  display: block;
  text-indent: -9999px;
  width: 9px;
  height: 11px;
  outline: 0;
  background: url(src/assets/controls.png) -86px -44px no-repeat;
  margin: 0 3px;
}
.products__slide-show .bx-wrapper .bx-controls-auto .bx-stop.active, .products__slide-show .bx-wrapper .bx-controls-auto .bx-stop:focus, .products__slide-show .bx-wrapper .bx-controls-auto .bx-stop:hover {
  background-position: -86px -33px;
}
.products__slide-show .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
  text-align: left;
  width: 80%;
}
.products__slide-show .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
  right: 0;
  width: 35px;
}
.products__slide-show .bx-wrapper .bx-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #666;
  background: rgba(80, 80, 80, 0.75);
  width: 100%;
}
.products__slide-show .bx-wrapper .bx-caption span {
  color: #fff;
  font-family: Arial;
  display: block;
  font-size: 0.85em;
  padding: 10px;
}
.products__slide-show .pager-number {
  display: inline-block;
  margin: 0 5px;
  padding: 5px 10px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 4px;
  z-index: 300000;
}
.products__slide-show .pager-number.active {
  background-color: #007bff;
  color: white;
  z-index: 300000;
}
.products__slide-show .pager-number:hover {
  background-color: #0056b3;
  color: white;
  z-index: 300000;
}
.products__slide-show .pager-item {
  display: inline-block;
  margin: 0 5px;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 50%;
  text-decoration: none;
  color: #ffffff;
  bottom: 0px;
  right: 5px;
  z-index: 300000;
}
.products__slide-show .pager-item.active {
  background-color: #007bff;
  color: white;
  z-index: 300000;
}
.products__slide-show .pager-item:hover {
  background-color: #0056b3;
  color: white;
  z-index: 300000;
}
.products__slide-show .active-page {
  background-color: #007bff;
}

.slider-two {
  width: 74%;
  margin-top: 20px;
  border-top: 2px solid rgba(221, 221, 221, 0.8666666667);
  padding: 0 13%;
}
.slider-two .bx-wrapper {
  position: relative;
  margin: 0 auto;
  padding: 0 60px;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -moz-box-shadow: 0 0 5px #ccc;
  -webkit-box-shadow: 0 0 5px #ccc;
  box-shadow: none;
  border: none;
  background: #fff;
}
.slider-two .bx-wrapper img {
  max-width: 100%;
  display: block;
}
.slider-two .bxslider {
  margin: 0;
  padding: 0;
}
.slider-two ul.bxslider {
  list-style: none;
}
.slider-two .bx-viewport {
  -webkit-transform: translateZ(0);
}
.slider-two .bx-wrapper .bx-controls-auto, .slider-two .bx-wrapper .bx-pager {
  position: absolute;
  bottom: -30px;
  width: 100%;
}
.slider-two .bx-wrapper .bx-loading {
  min-height: 50px;
  background: url(src/assets/bx_loader.gif) center center no-repeat #fff;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000;
}
.slider-two .bx-wrapper .bx-pager {
  text-align: center;
  font-size: 0.85em;
  font-family: Arial;
  font-weight: 700;
  color: #666;
  padding-top: 20px;
}
.slider-two .bx-wrapper .bx-pager.bx-default-pager a {
  background: #666;
  text-indent: -9999px;
  display: block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  outline: 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.slider-two .bx-wrapper .bx-pager.bx-default-pager a.active, .slider-two .bx-wrapper .bx-pager.bx-default-pager a:focus, .slider-two .bx-wrapper .bx-pager.bx-default-pager a:hover {
  background: #000;
}
.slider-two .bx-wrapper .bx-controls-auto .bx-controls-auto-item, .slider-two .bx-wrapper .bx-pager-item {
  display: inline-block;
  vertical-align: bottom;
}
.slider-two .bx-wrapper .bx-pager-item {
  font-size: 0;
  line-height: 0;
}
.slider-two .bx-wrapper .bx-prev {
  left: 10px;
  background: url(src/assets/controls.png) 0 -32px no-repeat;
}
.slider-two .bx-wrapper .bx-prev:focus, .slider-two .bx-wrapper .bx-prev:hover {
  background-position: 0 0;
}
.slider-two .bx-wrapper .bx-next {
  right: 10px;
  background: url(src/assets/controls.png) -43px -32px no-repeat;
}
.slider-two .bx-wrapper .bx-next:focus, .slider-two .bx-wrapper .bx-next:hover {
  background-position: -43px 0;
}
.slider-two .bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  outline: 0;
  width: 32px;
  height: 32px;
  text-indent: -9999px;
  z-index: 9999;
}
.slider-two .bx-wrapper .bx-controls-direction a.disabled {
  display: none;
}
.slider-two .bx-wrapper .bx-controls-auto {
  text-align: center;
}
.slider-two .bx-wrapper .bx-controls-auto .bx-start {
  display: block;
  text-indent: -9999px;
  width: 10px;
  height: 11px;
  outline: 0;
  background: url(src/assets/controls.png) -86px -11px no-repeat;
  margin: 0 3px;
}
.slider-two .bx-wrapper .bx-controls-auto .bx-start.active, .slider-two .bx-wrapper .bx-controls-auto .bx-start:focus, .slider-two .bx-wrapper .bx-controls-auto .bx-start:hover {
  background-position: -86px 0;
}
.slider-two .bx-wrapper .bx-controls-auto .bx-stop {
  display: block;
  text-indent: -9999px;
  width: 9px;
  height: 11px;
  outline: 0;
  background: url(src/assets/controls.png) -86px -44px no-repeat;
  margin: 0 3px;
}
.slider-two .bx-wrapper .bx-controls-auto .bx-stop.active, .slider-two .bx-wrapper .bx-controls-auto .bx-stop:focus, .slider-two .bx-wrapper .bx-controls-auto .bx-stop:hover {
  background-position: -86px -33px;
}
.slider-two .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
  text-align: left;
  width: 80%;
}
.slider-two .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
  right: 0;
  width: 35px;
}
.slider-two .bx-wrapper .bx-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #666;
  background: rgba(80, 80, 80, 0.75);
  width: 100%;
}
.slider-two .bx-wrapper .bx-caption span {
  color: #fff;
  font-family: Arial;
  display: block;
  font-size: 0.85em;
  padding: 10px;
}

.bottom-container {
  width: 100%;
}
.bottom-container__footer {
  width: 74%;
  padding: 0 13% 0 13%;
  background-color: #0BA2D6;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.bottom-container__footer__content {
  width: 20%;
  border-right: 2px solid #009AD4;
  padding: 20px;
}
.bottom-container__footer__content:first-child {
  border-left: 2px solid #009AD4;
}
.bottom-container__footer__title {
  padding: 0;
  margin: 0;
  color: #fff;
  font-size: 20px;
  padding-bottom: 20px;
  padding-top: 10px;
}
.bottom-container__footer__text {
  margin: 0;
  padding: 0;
  color: rgba(255, 255, 255, 0.6);
  padding-bottom: 5px;
}
.bottom-container__copyright {
  width: 74%;
  padding: 10px 13% 10px 13%;
  background-color: #005474;
}
.bottom-container__copyright__text {
  margin: 0;
  color: #fff;
}

.page-navigation {
  width: 74%;
  padding: 10px 13%;
}
.page-navigation__text {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  color: #666666;
  margin-right: 5px;
}
.page-navigation__text:last-child {
  color: #0BA2D6;
}

.main-container-product {
  width: 74%;
  display: flex;
  justify-content: center;
  margin: 0 13% 0 13%;
}
.main-container-product .left {
  width: 75%;
  height: 100%;
}
.main-container-product .left__product {
  display: flex;
}
.main-container-product .left__product__slider {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main-container-product .left__product__slider .bx-wrapper {
  width: 90%;
  border: 1px solid #CCCCCC;
  padding: 10px;
  box-shadow: none !important;
  background: none !important;
  justify-content: center;
  align-items: center;
  padding: 35% 0;
}
.main-container-product .left__product__slider--thumbnail {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.main-container-product .left__product__slider--link {
  display: inline-block;
  width: 20%;
  height: auto;
  border: 1px solid #CCCCCC;
  padding: 5px;
}
.main-container-product .left__product__slider--link.active {
  border: 2px solid red;
}
.main-container-product .left__product__slider--img {
  width: 100%;
  height: auto;
  cursor: pointer;
}
.main-container-product .left__product__slider--pager {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  max-width: 300px;
}
.main-container-product .left__product__slider--controls {
  border: none;
  font-size: 20px;
}
.main-container-product .left__product__slider--controls:hover {
  color: red;
}
.main-container-product .left__description {
  padding-left: 5%;
}
.main-container-product .left__description__title {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.main-container-product .left__description__title--text {
  white-space: wrap;
  word-break: break-word;
  margin-top: 0;
}
.main-container-product .left__description__sub-div {
  padding: 0 20px 0 0;
  border-right: 1px solid #666666;
}
.main-container-product .left__description__sub-title {
  display: flex;
}
.main-container-product .left__description__sub-title--text {
  font-size: 30px;
  color: #0BA2D6;
  padding-left: 20px;
}
.main-container-product .left__description__sub-title--price {
  font-size: 50px;
  font-weight: bold;
  padding-left: 0;
  color: #0BA2D6;
}
.main-container-product .left__description__sub-title--code {
  margin: 0;
  padding-left: 23px;
}
.main-container-product .left__description__info--text {
  margin: 10px 0;
  color: rgba(0, 0, 0, 0.4);
}
.main-container-product .left__description__info--text:first-of-type {
  color: black;
  margin: 20px 0;
}
.main-container-product .left__description__social {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.main-container-product .left__description__social--input {
  width: 70px !important;
  text-align: center;
  border: 1px solid #ccc;
  padding: 5px;
  font-size: 14px;
  margin-right: 0px !important;
  background-color: #f9f9f9;
}
.main-container-product .left__description__social--button {
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  padding: 5px;
  cursor: pointer;
  font-size: 14px;
}
.main-container-product .left__description__social--plus {
  margin-left: 30px;
  margin-right: 15px;
  background-color: red;
  color: white;
  padding: 4px 10px 4px 10px;
  font-size: 20px;
}
.main-container-product .left__description__social--text {
  margin-right: 15px;
}
.main-container-product .left__description__social--icon {
  height: 15px;
  width: 15px;
  padding: 10px;
  text-align: center;
}
.main-container-product .left__description__social--link {
  margin: 5px;
  text-decoration: none;
}
.main-container-product .left__description__social--link:last-child {
  margin-right: 0;
}
.main-container-product .left__description__social--link .fa-facebook-f {
  color: white;
  background-color: #3b5998;
}
.main-container-product .left__description__social--link .fa-twitter {
  color: white;
  background-color: #55acee;
}
.main-container-product .left__description__social--link .fa-envelope {
  color: white;
  background-color: #666666;
}
.main-container-product .left__description__social--link .fa-google-plus-g {
  color: white;
  background-color: #dd4b39;
}
.main-container-product .left__description__button {
  padding: 10px 20px;
  background-color: #CCCCCC;
  border-radius: 40px;
  color: white;
  border: none;
}
.main-container-product .left__description__button--icon {
  margin-right: 10px;
}
.main-container-product .left__description__button:first-of-type {
  background-color: #0BA2D6;
}
.main-container-product .left__similar {
  margin: 20px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  font-size: 20px;
}
.main-container-product .left__similar__text {
  white-space: nowrap;
  text-transform: uppercase;
  font-weight: bold;
}
.main-container-product .left__similar__line {
  height: 1px;
  width: 100%;
  margin: 0 10px;
  background-color: #ddd;
}
.main-container-product .table {
  margin-top: 30px;
  padding: 0 10px;
}
.main-container-product .table .checked {
  color: #0BA2D6;
}
.main-container-product .table__tabs {
  display: flex;
  border-bottom: 1px solid #ccc;
  flex-wrap: wrap;
}
.main-container-product .table__tabs__button {
  padding: 12px;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  background: #333;
  color: white;
  border: none;
  transition: background 0.3s;
  border-right: 1px solid white;
}
.main-container-product .table__tabs .active {
  background: #3498db;
}
.main-container-product .table__content.active {
  display: block;
}
.main-container-product .table__content {
  display: none;
  border: 1px solid #ccc;
  padding: 0 10px;
}
.main-container-product .table__content--button {
  background-color: #0BA2D6;
  border: none;
  padding: 5px;
  margin: 10px 5px;
}
.main-container-product .table__content--link {
  text-decoration: none;
  color: white;
  padding: 20px;
}
.main-container-product .table__content--container {
  display: flex;
  flex-direction: column;
}
.main-container-product .table__content--input {
  width: 80%;
  max-width: 300px;
  margin: 10px 0;
  padding: 10px;
}
.main-container-product .table__content--textarea {
  width: 80%;
  max-width: 500px;
  height: 130px;
  resize: none;
  padding: 5px;
  margin-bottom: 10px;
}
.main-container-product .table__content__info {
  display: flex;
}
.main-container-product .table__content__info--left, .main-container-product .table__content__info--right {
  padding: 20px;
  width: 50%;
  color: rgba(0, 0, 0, 0.6);
}
.main-container-product .right {
  width: 25%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.main-container-product .right__newsletter-product {
  display: block !important;
}
.main-container-product .right__video {
  max-width: 500px;
}

@media (max-width: 1230px) {
  .navbar__gray {
    display: none;
  }
  .navbar__header {
    padding: 15px 0 !important;
  }
  .navbar__header__left {
    justify-content: center;
    margin-bottom: 20px;
  }
  .navbar__header__right {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2px;
  }
  .navbar__header__right--input {
    min-width: 200px;
  }
  .navbar__header__right--search {
    width: 80% !important;
    flex-wrap: nowrap;
    max-width: 300px;
  }
  .navbar__header__right__buy {
    width: 80% !important;
    justify-content: center;
    align-items: center;
    padding: 5px 0 !important;
    gap: 10px !important;
  }
  .navbar__header__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .navbar__header__left--text {
    font-size: 30px;
  }
  .navbar__burger-menu {
    display: block !important;
  }
  .navbar__small__select {
    display: none !important;
    flex-direction: column;
    position: absolute;
    top: 175px;
    left: 0;
    width: 100% !important;
    background-color: #00ADF0;
    z-index: 99999;
  }
  .navbar__small__select--button {
    display: block;
    text-align: center !important;
    padding: 15px 0 !important;
    border: none;
    border-bottom: 1px solid #009AD9;
    width: 100%;
  }
  .navbar__small__select.active {
    display: flex !important;
  }
  .navbar__trapezoid-left, .navbar__trapezoid-right {
    display: none !important;
  }
}
@media (max-width: 1230px) {
  .bx-wrapper {
    width: 80%;
    margin: 0 20px !important;
    padding: 0 !important;
  }
  .main-container {
    margin: 0 !important;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .main-container .products {
    width: 100% !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .main-container .products__slide-show {
    padding: 0 !important;
  }
  .main-container .products__slide-show__progress-container {
    margin: 0 20px !important;
  }
  .main-container .products__slide-show__custom-pager {
    right: 60px !important;
  }
  .main-container .products__slide-show__block {
    left: 10px !important;
    top: 10px !important;
    bottom: 60% !important;
    height: auto !important;
    width: auto !important;
    min-width: auto !important;
    padding: 20px 10px !important;
  }
  .main-container .products__slide-show__block__title {
    font-size: 20px !important;
    margin-bottom: 10px;
  }
  .main-container .products__slide-show__block__title:first-of-type {
    font-weight: normal;
  }
  .main-container .products__slide-show__block__button {
    padding: 5px 15px !important;
  }
  .main-container .products__shape__trapez {
    margin: 20px 0 !important;
    font-size: 10px;
  }
  .main-container .products__discounts__button {
    padding: 10px 5px !important;
  }
  .main-container .products__discounts .product-bar__card {
    min-width: 100px;
  }
  .main-container .products__discounts .product-bar__card__img {
    width: 100px !important;
    aspect-ratio: 1/1.2;
  }
  .main-container .products__makita-post, .main-container .products__search-brand, .main-container .products__newsletter {
    display: block;
    margin-top: 10px;
  }
  .slider-two {
    width: 100% !important;
    padding: 0 !important;
  }
  .slider-two .bx-wrapper {
    width: 80% !important;
    margin: 0 10% !important;
  }
  .slider-two .bx-prev, .slider-two .bx-next {
    display: none !important;
  }
  .magnify {
    display: none !important;
  }
  .bottom-container__copyright {
    width: 100% !important;
    padding: 10px 0 !important;
  }
  .bottom-container__copyright__text {
    margin-left: 50px !important;
  }
  .bottom-container__footer {
    width: 100% !important;
    padding: 0 !important;
    display: flex;
    flex-direction: column;
  }
  .bottom-container__footer__content {
    width: 80% !important;
    padding-left: 50px !important;
    border: none !important;
  }
}
@media (max-width: 1230px) {
  .side-bar {
    width: 100%;
  }
  .side-bar__menu {
    margin: 0 !important;
  }
  .side-bar__menu__button:hover {
    transform: none !important;
    border: none !important;
  }
  .side-bar__menu__button:hover .side-bar__menu__button--img {
    transform: scale(1.2) !important;
  }
  .side-bar__menu__button:hover .side-bar__menu__text {
    margin-left: 10px !important;
    transform: scale(1.05) !important;
  }
  .side-bar__ad {
    display: none;
  }
  .side-bar__makita-post, .side-bar__search-brand, .side-bar__newsletter {
    display: none;
  }
}
@media (max-width: 1230px) {
  .main-container-product {
    margin: 0 !important;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .main-container-product .left {
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
  }
  .main-container-product .left__product {
    flex-direction: column;
  }
  .main-container-product .left__product__slider {
    width: 90% !important;
    padding: 10px 5% !important;
  }
  .main-container-product .left__product__slider .bx-wrapper {
    min-width: 250px;
  }
  .main-container-product .left__product__slider--link {
    min-width: 50px;
  }
  .main-container-product .left__description {
    width: 90% !important;
    padding: 0 5% !important;
    margin-top: 20px;
  }
  .main-container-product .left__description__title--text {
    font-size: 30px !important;
  }
  .main-container-product .left__description__sub-title--price {
    font-size: 30px !important;
  }
  .main-container-product .left .table__content__info--left {
    border-right: 1px solid #ccc;
  }
  .main-container-product .right {
    width: 100% !important;
    margin: 10px !important;
    padding: 0 !important;
    justify-content: center;
    align-items: center;
  }
}
/* endinject */

/*# sourceMappingURL=main.css.map */
